<section
  class="navbar navbar-expand-sm navbar-dark bg-dark custom-navbar"
  aria-label="Third navbar example"
>
  <div class="container-fluid" bis_skin_checked="1">
    <a class="navbar-brand" href="/">
      <img src="/images/book.png" alt="book image" width="100"/>
      Tam's Bookstore
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarsExample03"
      bis_skin_checked="1"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-sm-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link <%= nav === 'main' ? 'active' : '' %>" aria-current="page" href="/"><p class="nav-text">Home</p></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><p class="nav-text">Genre</p></a
          >
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><p>Fiction</p></a></li>
            <li><a class="dropdown-item" href="#"><p>Fantasy</p></a></li>
            <li><a class="dropdown-item" href="#"><p>Romantic</p></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= nav === 'add-book' ? 'active' : '' %>" href="/add-book"><p class="nav-text">Add Book</p></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/"><p class="nav-text">Contact</p></a></li>
      </ul>
      <form role="search">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</section>

