<section
  class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar"
>
  <div class="container-fluid" bis_skin_checked="1">
    <div class="my-navbar-collapse">
      <a class="navbar-brand" href="/">
        <img src="/images/book.png" alt="book image" width="100"/>
        Tam's Bookstore
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 my-nav">
        <li class="nav-item">
          <a class="nav-link <%= nav === 'main' ? 'active' : '' %>" aria-current="page" href="/"><p class="nav-text">Home</p></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><p class="nav-text">Genre</p></a
          >
          <ul class="dropdown-menu scrollable-dropdown my-dropdown-menu">
            <li><a class="dropdown-item" href="#"><p>Fiction</p></a></li>
            <li><a class="dropdown-item" href="#"><p>Fantasy</p></a></li>
            <li><a class="dropdown-item" href="#"><p>Romantic</p></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= nav === 'add-book' ? 'active' : '' %>" href="/add-book"><p class="nav-text">Add Book</p></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/"><p class="nav-text">Contact</p></a></li>
      </ul>
      <form role="search">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</section>