<div class="hero-container">
  <div class="hero-text-container">
    <h1 class="hero-text">Hello</h1>
    <h1 class="hero-text">I'm <span>Tam</span></h1>
    <p class="intro">WELCOME TO MY LITTLE CORNER OF STORIES!</p>
    <p class="descript">Here you can explore the books I’ve read, along with my personal notes and ratings. It’s a space for <span>sharing</span> thoughts, <span>discovering</span> new reads, and <span>celebrating</span> the love of books.</p>
    <a class="hero-btn" href="/add-book">Add New Book</a>
  </div>
  <img class="leaf" src="/images/leaf.png" alt="left image" width="150"/>
</div>