.detail-container {
  margin-top: 80px;
}

.detail-container * {
  color: #999;
  font-family: var(--text-font);
}

.detail-container h2 {
  color: black;
  font-family: var(--web-name-font);
  padding:0;
  margin: 0;
}

.detail-container label {
  color: var(--six-color);
  font-weight: 700;
  margin-top: 25px;
}

.book-container {
  padding: 50px 0;
  background-image: url("/images/hero_background_13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--fifth-color);
}

.row {
  padding-bottom: 50px;
}

.book-category {
  padding: 25px 0 60px 0 ;
}

.book-category > p {
  display: inline;
  padding: 0 20px;
}

.book-category > p, .book-category > p > a{
  color: #999;
  text-transform: uppercase;
  font-weight: 800;
}

.book-category p:first-of-type{
  padding-left: 0;
}

.book-cover {
  position: relative;
  padding-right: 75px;
  width: 100%;
  border-radius: 2px 10px 10px 2px;
}

.book-cover img{
  width: 100%;
  border-radius: 2px 10px 10px 2px;
}

.book-cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15px;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.7) 1px,
    rgba(0,0,0,0.3) 25%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0.5) 75%,
    rgba(255,255,255,0.1) 100%);
  box-shadow: 1px 0 5px rgba(255, 255, 255, 0.1);
  mask-image: linear-gradient(to bottom, transparent 0%, black 1%, black 99%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 1%, black 99%, transparent 100%);
}

.book-detail-title {
  font-family: var(--web-name-font);
  margin-bottom: 40px;
  color: var(--fifth-color);
  font-weight: 400;
}

.book-detail-author, .book-detail-description, .book-detail-rate {
  font-weight: 600;
}

.book-detail-description {
  white-space: pre-wrap;
  padding: 10px 0;
}

.book-detail-rate {
  color: var(--fifth-color);
  font-size: 30px;
}

.review-container {
  padding: 75px 350px 15px 350px;
}

.review-item {
  padding: 20px 0;
  margin-bottom: 15px;
}

.review {
  padding-top: 25px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: var(--text-size);
  border-bottom: 3px solid #eaeaea;
  color: var(--fourth-color);
  background-color: transparent;
}

.input:focus {
  border-bottom: 3px solid #eaeaea;
  outline: none;
  box-shadow: none;
}

.input::selection {
  background: var(--second-color);
  color: var(--fifth-color);
}

.input-book {
  color: var(--first-color);
  border-bottom: 3px solid var(--fourth-color);
}

.input-rate {
  width: 50%;
}

.btn-update-container {
  display: flex;
  gap: 10px;
  margin: 2px 0 25px 0;
}

.btn-review {
  display: inline;
  border-radius: 20px;
  padding: 4px 20px;
  color: var(--fifth-color) !important;
  background-color: var(--third-color);
  border: transparent;
}

.btn-review:hover {
  background-color: var(--second-color);
}

.btn-update-container {
  display: flex;
  gap: 10px;
}

.btn-update {
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: transparent;
}

@media (max-width:992px) {
  .info {
    padding: 75px;
  }

  .review-container {
    padding: 75px;
  }

}