:root {
  --logo-font: "Style Script", sans-serif;
  --font: "Source Sans 3", sans-serif;
  --web-name-font: "Fanwood Text", serif;
  --other-font: "Lora", serif;
  --text-font: "Quicksand", serif;

  --first-color: #fafafa;
  --second-color: #f66e5e;
  --third-color: #39baaf;
  --fourth-color: #7a7a7a;
  --fifth-color: white;
  --six-color: #484848;
  --seven-color: rgba(0, 0, 0, 0.34);
  --eight-color: #f3f3f3;

  --info-title-size: 1rem;
  --xxl-large-size: 4rem;
  --large-size: 3rem;
  --medium-size: 1.2rem;
  --small-size: 1rem;

  --book-width: 240px;
  --book-height: 330px
}

* { 
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: var(--text-font);
  background-color: #fafafa;
  font-family: var(--text-font);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #f66e5e;
  color: white;
}

